/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&family=Work+Sans:wght@500&display=swap');

/* Common */

body{
    font-family: 'Work sans' , sans-serif ;
}
.btn-primary{
    color: rgb(255, 255, 255);
    background-color: orange;
    height: 50px;
    width: 100px;
    border: 0px;
    border-radius: 8px;
}


/* Navigation bar */

.container{
    background-color: rgb(255, 144, 14, 0.1);
    padding: 50px 20px;
}
.section-header{
    display: flex;
    justify-content: space-between;
}
.section-title{
    margin-left: 50px;
}
.navigation{
    display: flex;
    gap: 15px;
    margin-right: 50px;
}

/* Architects details */

.architect{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.architect-detail{
   align-items: center;
   font-size: 64px;
   font-weight: 700;
}

/* banner image */

.banner-image img{ 
width: 1200px;
height: 600px;
margin-top: 20px;
}

/* features*/
.features{
    background-color: white;

}
.featured-blog{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 73px;
    margin-top: 30px;
}

.text-primary{
    color: rgb(155, 154, 154);
}
.text-primary1{
    color: orange;
}
.featured-images{
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 15px;
}

.featured-images img{
    height: 342px;
    width: 342px;
}

/* architect enjoyable feature and image */

.enjoyable-feature{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    display: flexbox;
    /* margin-left: 50px;
    margin-right: 50px; */
}
.enfeature-writing{
    
    display: flex;
    padding: 50px 20px;
    flex-direction: column ;
    
}

/* blogs */

.blog-1{
    box-shadow: 0px 5px 10px; color: #3b3838;
    border-radius: 5px;
    padding: 10px 10px;
    margin-bottom: 15px;
}
.blog-2{
    box-shadow: 0px 5px 10px; color: #3b3838;
    border-radius: 5px;
    padding: 10px 10px;
    margin-bottom: 15px;
}
.blog-3{
    box-shadow: 0px 5px 10px; color: #3b3838;
    border-radius: 5px;
    padding: 10px 10px;
    margin-bottom: 15px;
}
.blog-4{
    box-shadow: 0px 5px 10px; color: #3b3838;
    border-radius: 5px;
    padding: 10px 10px;
    margin-bottom: 15px;
}
.blog-5{
    box-shadow: 0px 5px 10px; color: #3b3838;
    border-radius: 5px;
    padding: 10px 10px;
    margin-bottom: 15px;
}

.enfeatured-title{
    border-left: 5px solid;
    padding-left: 20px 20px;
}

.architect-detail{
    display: flex;
    flex-direction: column;
}
.architect-image img{
    /* height: 500px; */
    width: 500px;
    margin-right: 100px;
    margin-top: 100px ;
}

.btn-special{
    color: rgb(255, 255, 255);
    background-color: orange;
    height: 100px;
    width: 150px;
    border: 0px;
    border-radius: 8px;   
}
.btn-special:hover{
    transform: scale(150%);
}

/* Facts part */
.facts{
    padding: 20px 25px;
}
/* Achievements section */
.achievements{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    padding: 20px 50px;
}
.awards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid orange;
    padding: 20px 30px ;
}
.projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid orange;
    padding: 20px 30px ;
}
.customers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid orange;
    padding: 20px 30px ;
}
.email{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid orange;
    padding: 20px 30px ;
}

/* Sponsors Section */

.Sponsors{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.sponsor-logo{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    padding: 50px 50px;
    background-color: rgb(113, 122, 122);

}
/* media queries */
/* mobile view */
@media only screen and (max-width:575px){
    .container{
        width: 100%;
    }
    .section-header, .section-title{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .banner-image img{
        width: 100%;
    }

    .features{
        flex-direction: column-reverse;
    }
    .featured-blog{
        flex-direction: column-reverse;
        margin-top: 50px;
    }
    .featured-images{
        grid-template-columns: repeat(1,1fr);
       padding: 50px 50px;
    }
    .enjoyable-feature, .achievements{
        flex-direction: column;
    }
    .sponsor-logo{
        flex-direction: column;
        width: 100px;
        justify-content: space-between;
        gap: 15px;
    }
    .btn-special{
      margin-left: 200px;
    }
    .footer{
    text-align: center;
    }
}