/* Common */
.btn-primary{
    color: rgb(255, 255, 255);
    background-color: orange;
    height: 50px;
    width: 100px;
    border: 0px;
}


/* Navigation bar */

.container{
    background-color: rgb(255, 144, 14, 0.1);
    padding: 50px 20px;
}
.section-header{
    display: flex;
    justify-content: space-between;
}
.section-title{
    margin-left: 50px;
}
.navigation{
    display: flex;
    gap: 15px;
    margin-right: 50px;
}

/* Architects details */

.architect{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.architect-detail{
   align-items: center;
}

/* banner image */

.banner-image img{ 
width: 1200px;
height: 600px;
margin-top: 20px;
}

/* features*/
.features{
    background-color: white;

}
.featured-blog{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 73px;
    margin-top: 30px;
}
.featured-images{
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 15px;
}

.featured-images img{
    height: 342px;
    width: 342px;
}

/* architect enjoyable feature and image */

.enjoyable-feature{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    display: flexbox;
    /* margin-left: 50px;
    margin-right: 50px; */
}
.enfeature-writing{
    
    display: flex;
    padding: 50px 20px;
    flex-direction: column ;
    
}

.enfeatured-title{
    border-left: 2px solid ;
    padding-left: 20px;
}

.architect-detail{
    display: flex;
    flex-direction: column;
}
.architect-image img{
    height: 500px;
    width: 400px;
    margin-right: 100px;
}

.btn-special{
    color: rgb(255, 255, 255);
    background-color: orange;
    height: 100px;
    width: 150px;
    border: 0px;
    
}
/* Facts part */
.facts{
    padding: 20px 25px;
}
/* Achievements section */
.achievements{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    padding: 20px 50px;
}
.awards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid orange;
    padding: 20px 30px ;
}
.projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid orange;
    padding: 20px 30px ;
}
.customers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid orange;
    padding: 20px 30px ;
}
.email{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid orange;
    padding: 20px 30px ;
}

/* Sponsors Section */

.Sponsors{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.sponsor-logo{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    padding: 50px 50px;

}